@model RestaurantViewModel
@{
    ViewData["Title"] = "Edit a Restaurant";
}
<div class="col-6" style="margin:auto">
    <h3>Edit Restaurant</h3>
    <form class="border border-3 rounded" style="padding:15px" asp-controller="Resort" asp-action="EditRestaurant" method="post">
        <partial name="_RestaurantAddEditPartial" />
        <br />
        <button type="submit" class="btn btn-primary">Edit</button>
        <a asp-controller="Resort" asp-action="GetResortInfo" class="btn btn-primary">Cancel</a>
    </form>

</div>