@{
    ViewData["Title"] = "Resort Info";
}
<div>
    <h2>Restaurants</h2>
    <a href="https://www.valentinmaya.com/en/gastronomy/">Dining at Valentin</a>
    <h3>Taman Sari</h3>
    <h3>La Hacienda</h3>
    <h3>Ginger</h3>
    <h3>L'Alsace</h3>
    <h3>L'Olivo</h3>
    <h3>Le March&#233;</h3>
    <h3>Mar</h3>
    <h3>Tierra</h3>
</div>
<h2>Bars</h2>
<h2>Event Spaces</h2>