@model DressCodeViewModel

<div class="form-group">
    <div class="form-group row">
        <label asp-for="ActiveDressCode.Title">Title:</label>
        <input type="text" asp-for="ActiveDressCode.Title" />
    </div>
    <div class="form-group row">
        <label asp-for="ActiveDressCode.DescriptionWomen">Women:</label>
        <input type="text" asp-for="ActiveDressCode.DescriptionWomen" />
    </div>
    <div class="form-group row">
        <label asp-for="ActiveDressCode.BannedItemsWomen">Banned Items:</label>
        <input type="text" asp-for="ActiveDressCode.BannedItemsWomen" />
    </div>
    <div class="form-group row">
        <label asp-for="ActiveDressCode.DescriptionMen">Men:</label>
        <input type="text" asp-for="ActiveDressCode.DescriptionMen" />
    </div>
    <div class="form-group row">
        <label asp-for="ActiveDressCode.BannedItemsMen">Banned Items:</label>
        <input type="text" asp-for="ActiveDressCode.BannedItemsMen" />
    </div>
</div>