@model ImageViewModel
@{
    ViewData["Title"] = "Nick & Gloria";
}

<div class="text-center mainBody">
    <h1 class="display-4">Nick and Gloria's Wedding</h1>
    <div class="row">
        @foreach(var image in Model.Pictures)
        {
            <div class="col-sm-4 mb-3 mb-sm-0">
                <div class="card" style="width:100%">
                    <div class="card-body">
                        <img src="@image.Url" width="100%" class="card-img"/>
                    </div>
                </div>
        </div>        
        }
    </div>
</div>