@model ImageViewModel
@{
    ViewData["Title"] = "Nick & Gloria";
}

<div class="text-center">
    <h1 class="display-4">Nick and Gloria's Wedding</h1>
    @foreach (var image in Model.Pictures)
    {
        <img src="@image.Url" />
    }
</div>
