@model ImageViewModel
@{
    ViewData["Title"] = "Nick & Gloria";
}

<div class="text-center">
    <h1 class="display-4">Nick and Gloria's Wedding</h1>
    <div id="carouselExample" class="carousel slide align-content-center" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <img src="@Model.Pictures[1].Url" width="500px">
            </div>
                @foreach (var image in Model.Pictures)
                {
                <div class="carousel-item" data-bs-interval="3000" >
                    <img src="@image.Url" width="500px" />
                    </div>
                }
        </div>
    </div>
</div>