@model GuestViewModel
@{
    ViewData["Title"] = "Edit Guest";
}
<form asp-controller="GuestList" asp-action="EditGuest" method="post" asp-route-guestId="@Model.ActiveGuest.GuestId" asp-route-plusOneId="@Model.PlusOne.GuestId" enctype="application/x-www-form-urlencoded">
    <input type="hidden" value="@Model.ActiveGuest.GuestId"/>
    <partial name="_GuestAddEditPartial" />
    <br />
    <div class="form-group row">
        <button type="submit" class="btn btn-primary">Edit</button>
    </div>
</form>