@model DateViewModel
@{
    ViewData["Title"] = "Important Dates";
}
<h1>TODO:</h1>
<ul>
    <li>Add/edit</li>
    <li>Create list view of dates ordered by date</li>
    <li>add calendar with all dates</li>
    <li></li>
</ul>